node_modules
.next
.env
.env.local
.env.production
prisma/dev.db
prisma/dev.db-journal
.vercel
.env*.local
.DS_Store
tsconfig.tsbuildinfo
*.log
uploads/*
!uploads/.gitkeep
public/uploads/*
!public/uploads/.gitkeep

